	<td>{{first_name}}
	</td>


	<td>{{last_name}}
	</td>


	<td>{{ company }}
	</td>


	<td>{{ phone }}
	</td>


	<td>{{ email }}
	</td>


	<td>{{ newsletter_status }}
	</td>

	<td>{{ reg_date }}
	</td>


	<td>
		<a  id='edit_Customer' value='{{id}}'>Edit</a>
	</td>

	
	<td>
		<a id='delete_Customer' value="{{id}}">Delete</a>
	</td>



